In [2]:
a = ['India']*10
print(a)

['India', 'India', 'India', 'India', 'India', 'India', 'India', 'India', 'India', 'India']

In [3]:
a = ['India','France']*10
print(a)

['India', 'France', 'India', 'France', 'India', 'France', 'India', 'France', 'India', 'France', 'India', 'France', 'India', 'France', 'India', 'France', 'India', 'France', 'India', 'France']

In [4]:
b= '20'*5
print(b)

2020202020

In [5]:
c=20*5
print(c)

100

# Reverse a String

In [6]:
list1 = ['India','USA','France','Germany','Spain']
print(list1[::-1])

['Spain', 'Germany', 'France', 'USA', 'India']

# Reverse a list of numbers

In [7]:
list2 = [100,200,300,400]
print(list2[::-1])

[400, 300, 200, 100]

In [8]:
List = [1,2,3,4]
print(List)
a,b,c,d = List
print(b,a,d,c)

[1, 2, 3, 4]
2 1 4 3

In [10]:
letters = []
for i in 'Simplilearn':
    letters.append(i)
print(letters)

['S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n']

In [11]:
letters = [i for i in 'Simplilearn']
print(letters)

['S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n']

In [12]:
import math
def square(a):
    a = math.pow(a,2)
    return a

In [13]:
square(3)

9.0

In [14]:
squares = []
for i in range(10):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
squares = [x**2 for x in range(0,20,4)]
squares

[0, 16, 64, 144, 256]

In [16]:
list_items = [300,294,450,243]
print('Using the enumerate function')
for index,element in enumerate(list_items):
    print('Index[', index,']', 'value', element)

Using the enumerate function
Index[ 0 ] value 300
Index[ 1 ] value 294
Index[ 2 ] value 450
Index[ 3 ] value 243

In [17]:
items = [102,410,321]
names = ['Phone','Laptop','Tablet']
itemDictionary = dict(zip(items,names))
print(itemDictionary)

{102: 'Phone', 410: 'Laptop', 321: 'Tablet'}

In [18]:
itemDictionary.keys()

dict_keys([102, 410, 321])

In [19]:
itemDictionary.values()

dict_values(['Phone', 'Laptop', 'Tablet'])

In [25]:
list_a  = ['Davis','Karin','john','Frank','steve']
list_b = ['Karin','Davis','Jack','George','steve']
common = [a for a in list_a for b in list_b if a == b]
print(common)

['Davis', 'Karin', 'steve']

In [26]:
listNumbers = [20,22,24,26,28,28,20,22,30]
print('Original List = ' , listNumbers)
listNumbers = list(set(listNumbers))
print('List after removing duplicates = ', listNumbers)

Original List =  [20, 22, 24, 26, 28, 28, 20, 22, 30]
List after removing duplicates =  [20, 22, 24, 26, 28, 30]

In [27]:
TeamA = {1:'Davis', 2:'Andrew',3:'Karin'} 
TeamB = {4:'John',5:'Angela',6:'Suzan'}
def merge_teams(dictOne, dictTwo):
    dictThree = dictOne.copy()
    dictThree.update(dictTwo)
    return dictThree
print(merge_teams(TeamA,TeamB))

{1: 'Davis', 2: 'Andrew', 3: 'Karin', 4: 'John', 5: 'Angela', 6: 'Suzan'}

In [28]:
a = {'a':1,'b':1}
b = {'b':2,'c':1}
a.update(b)
a

{'a': 1, 'b': 2, 'c': 1}

In [29]:
TeamA = {1:'Davis', 2:'Andrew',3:'Karin'} 
TeamB = {4:'John',5:'Angela',6:'Suzan'}
FinalTeam = {**TeamA,**TeamB}
print(FinalTeam)

{1: 'Davis', 2: 'Andrew', 3: 'Karin', 4: 'John', 5: 'Angela', 6: 'Suzan'}

In [30]:
square ={x: x**2 for x in range(5)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [31]:
all(a%2 == 0 for a in range(0,10,2))

True

In [32]:
all(a%2 == 0 for a in range(0,10,3))

False

In [34]:
x,y = 10,20
print('Before swap',x,y)
x,y=y,x
print('After swap x = ',x,'y=', y)

Before swap 10 20
After swap x =  20 y= 10

In [35]:
character = ['p','y','t','h','o','n']
word = ''.join(character)
print(word)

python

In [36]:
test = [1,2,3,4,2,2,3,1,4,4,4]
print(max(set(test),key=test.count))

4

In [37]:
a,b = 10,20
print('Both a and b are equal' if a == b else 'a is greater than b' if a>b else ' b is greater than a' )

 b is greater than a

In [38]:
import numpy as np

In [39]:
res = list(np.cumsum(range(10)))
res

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

In [42]:
import itertools
Football_clubs = ['Mancester united','Real Madrid','Arsenal','Chelsea','Liverpool','Barcelona']
list(itertools.combinations(Football_clubs,r=2))

[('Mancester united', 'Real Madrid'),
 ('Mancester united', 'Arsenal'),
 ('Mancester united', 'Chelsea'),
 ('Mancester united', 'Liverpool'),
 ('Mancester united', 'Barcelona'),
 ('Real Madrid', 'Arsenal'),
 ('Real Madrid', 'Chelsea'),
 ('Real Madrid', 'Liverpool'),
 ('Real Madrid', 'Barcelona'),
 ('Arsenal', 'Chelsea'),
 ('Arsenal', 'Liverpool'),
 ('Arsenal', 'Barcelona'),
 ('Chelsea', 'Liverpool'),
 ('Chelsea', 'Barcelona'),
 ('Liverpool', 'Barcelona')]

In [43]:
for p in itertools.permutations([1,2,3,4]):
    print(''.join(str(x) for x in p))

1234
1243
1324
1342
1423
1432
2134
2143
2314
2341
2413
2431
3124
3142
3214
3241
3412
3421
4123
4132
4213
4231
4312
4321

In [44]:
list(itertools.filterfalse(bool,[None,False,1,0,10]))

[None, False, 0]

In [45]:
import itertools
import operator
a = [(2,5),(10,4),(60,3)]
list(itertools.starmap(operator.add,a))

[7, 14, 63]

In [46]:
import itertools
import operator
a = [(2,5),(10,4),(60,3)]
list(itertools.starmap(operator.mul,a))

[10, 40, 180]

In [47]:
from collections import OrderedDict
d = OrderedDict.fromkeys('abcde')
d.move_to_end('b')
''.join(d.keys())

'acdeb'

In [49]:
d.move_to_end('b',last=False)
''.join(d.keys())

'bacde'

In [51]:
func = {'sum': lambda x,y: x+y, 'subtract': lambda x,y: x-y}

In [52]:
func['sum'](10,3)

13

In [53]:
func['subtract'](10,3)

7